 {{#link-to "map" invokeAction='showHideNav'}}
<button class="large hollow button expanded">
    View Map</button>
{{/link-to}} 
{{#link-to "apply" invokeAction='showHideNav'}}
<button class="large hollow button expanded">
    <i class="fas fa-plus-square"></i>
    Enter Your Club</button>
{{/link-to}} 
<a href="https://static.rasset.ie/documents/radio1/2018/10/join-club-poster-fa.pdf"class="large hollow button expanded"class="large hollow button expanded">
    <i class="fas fa-download"></i> Download Poster
</a>