@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

body{
    //background: url("images/bgr.jpg") no-repeat center center fixed;
    background-size: cover;
    background-image:
    radial-gradient(
      #2d357e,
      #1b1e47
    );
    background-repeat: no-repeat;
    height:100%;
    font-family: "Source Sans Pro";
}
.background {
    fill: none;
    pointer-events: all;
  }
  
  .feature {
    fill: #ccc;
    cursor: pointer;
  }
  
  .feature.active {
    fill: orange;
  }
  
  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .county{
      fill: #ddc;
      cursor: pointer;
      &:hover{
        fill: #38aae0; 
      }
  }
  .main{
    margin-top:20px;
  }
  h2{
    font-family: Montserrat;

  }
  .button.hollow{
    color:$white;
    :hover{
      color:pink;
    }
  }
  .button.hollow, .button.hollow:hover, .button.hollow:focus{
    color:$white;
  }
  .ray{
    position:fixed;
    bottom:0;
    right:0;
    max-height:350px;
    @include breakpoint(small only){
      //display:none;
      max-height:250px;
    }
  }
.pad_bottom{
  height:200px;
}
.map_container{
  //border:1px solid white;
  width:390px;
  height:460px;
  margin: 0 auto;
  margin-top:20px;
}
.activeCounty{
  height:50px;
}
.dt_nav{
  @include breakpoint(small only){
    display:none;
  }
}
.mobile_nav{
  float:right;
  font-size:30px;
  i{
    color:$white;
  }
}
.logo{
  @include breakpoint(small only){
    max-height:100px;
  }
}
.mobNav{
  padding:1em;
  border: 0!important;
}
button:focus {outline:0;}
table{
  color:#1b1e47
}
thead th{
  color:#1b1e47
}