@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

.gradient {

}

body{
    //background: url("images/bgr.jpg") no-repeat center center fixed;
    background-size: cover;
    background-image:
    radial-gradient(
      #2d357e,
      #1b1e47
    );
    background-repeat: no-repeat;
    height:100%;
    font-family: "Source Sans Pro";
}
.background {
    fill: none;
    pointer-events: all;
  }
  
  .feature {
    fill: #ccc;
    cursor: pointer;
  }
  
  .feature.active {
    fill: orange;
  }
  
  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .county{
      fill: #ddc;
      cursor: pointer;
      &:hover{
        fill: #000; 
      }
  }
  .main{
    margin-top:20px;
  }
  h2{
    font-family: Montserrat;

  }
  .button.hollow{
    color:$white;
    :hover{
      color:pink;
    }
  }
  .button.hollow, .button.hollow:hover, .button.hollow:focus{
    color:$white;
  }
  .ray{
    position:absolute;
    bottom:0;
    right:0;
    max-height:200px;
    @include breakpoint(small only){
      display:none;
    }
  }
