


<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-6">{{ireland-map goCounty=(action "goCounty")}}</div>
    <div class="cell small-6">{{outlet}}</div>
  </div>
</div>

