<div class="grid-container main">
  <div class="grid-y medium-grid-frame">
    <div class="cell shrink header medium-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-4 small-12">
          
        </div>
        <div class="cell medium-4 small-12 medium-cell-block">
          
        </div>
        <div class="cell medium-4">
          
        </div>
      </div>
    </div>
    <div class="cell medium-auto medium-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-4 small-12 small-medium-cell-block-y medium-cell-block-y">
          {{#link-to "index"}}
        <img src="assets/images/joinaclub.png" alt="" style="margin-bottom:20px;">
         {{/link-to}}
        {{#link-to "apply"}}
        <button class="large hollow button expanded">
          <i class="fas fa-plus-square"></i>
          Enter Your Club</button>
       {{/link-to}}
        {{#link-to "map"}}
        <button class="large hollow button expanded">Map</button>
       {{/link-to}}
               {{#link-to "map"}}
        <button class="large hollow button expanded">
          <i class="fab fa-twitter"></i>
        </button>
       {{/link-to}}
        </div>
        <div class="cell medium-8 small-12 medium-cell-block-y">
            {{outlet}}
        </div>
      </div>
    </div>
    <div class="cell shrink footer" style="align-items: center;">
        <div class="cell medium-4 medium-cell-block-y">
            <img src="https://static.rasset.ie/static/radio/images/Radio1_landscape.png" alt="" style="max-width:200px; margin-bottom:20px;">
        </div>
    </div>
  </div>
</div>

<img src="assets/images/ray.png" class="ray">




