<h2>Ray D’Arcy wants people all over Ireland to try something new this month!</h2>
<p>We had an idea with the help of Thomas who emailed into the show – what if for one week clubs throw open their doors to
    everyone?</p>
<p>This ‘welcome week’ is to encourage people to try out something new, without the pressure to sign up or set up an initial
    meeting.</p>
<p>It’s like speed dating for clubs, test out as many as you want during the week and hopefully one will stick with you!</p>
<p>If you are involved in a dance club, supper club, book club, running club, slam poetry club, a choir – literally any kind
    of club at all! Get in touch with the show at Ray@rte.ie and we can send you the details of how your club can sign up
    and take part in ‘Join a Club Week’.</p>
<p>All your club has to do is pick one day during the 'Join a Club Week' (which is on October 22nd to the 26th) where anyone
    can come along at a certain time to give your activity a try.</p>
<p>If you reach out to Ray, your club may get a shout out on the air waves!</p>
<p>The Ray D’Arcy show will also be having a special programme live on the Wednesday of that week to celebrate ‘Join a Club
    Week’.</p>
<p>The map below should show all the clubs taking part so you can see what’s happening in your local area.</p>
<p>Remember to tune into the show on RTE Radio 1 every week day from 3 until 4:30 for more information.</p>
<p>Let us know how you get on - Ray@rte.ie /@RadioRayRTE / Radio 1 Facebook</p>
<p></p>
{{#link-to "apply"}}
<button class="large hollow button">Enter Your Club</button>
{{/link-to}}
<p class="pad_bottom"></p>

<img src="assets/images/ray.png" class="ray">