<h2>National Join a Club week with the Ray D’Arcy show!</h2>
<p>
    We had an idea with the help of Tom who emailed into the show – what if for one week clubs throw open their doors to everyone?
</p>
<p>This ‘welcome week’ is to encourage people to try out something new, without the pressure to sign up or set up an initial meeting.</p>
<p>It’s like speed dating for clubs, test out as many as you want during the week and hopefully one will stick with you!</p>
<p>If you are involved in any kind of club please get in touch here and enter your club's details.

</p>
<p>
    All your club has to do is pick one day during the 'Join a Club Week' (21-28th of October) where anyone can come along at a certain time to give your activity a try.
</p>
<p>
    Download the poster here to stick it up in your club and/or use it on social media. 
</p>
<p>
    Check out the interactive map here which shows all the clubs taking part in your area. There’s something there for everyone so please get involved!
</p>
<p>
    If you reach out to Ray, you or your club may get a shout out on the airwaves.
</p>
<p>
    Remember to tune into the show on RTE Radio 1 every week day from 3 until 4:30 for more information. Let us know how you get on - Ray@rte.ie /@RadioRayRTE / Radio 1 Facebook
</p>
<p></p>
{{#link-to "apply"}}
<button class="large hollow button">Enter Your Club</button>
{{/link-to}}
<p>
    **TERMS AND CONDITIONS*
</p>
<p>
    Unfortunately due to the volume of clubs received, not all applicants can be read or spoken to on air.
</p>
<p>
    Please be advised that the Ray D’Arcy radio show and RTÉ are not responsible for any external events and/or club meetings. 
</p>
<p class="pad_bottom"></p>

<img src="assets/images/ray.png" class="ray">