<h2>Join a Club Week is now finished</h2>
<p>National Join a Club Week with the Ray D’Arcy Show was born from an idea with the help of Tom who emailed into the show – what if for one week clubs throw open their doors to everyone? </p>
<p>
    All your club has to do is pick one day during the 'Join a Club Week' (21-28th of October) where anyone can come along at a certain time to give your activity a try.
</p>
<p>This ‘welcome week’ was to encourage people to try out something new, without the pressure to sign up or set up an initial meeting. Clubs from all over Ireland got in touch with their details and held a welcome day during 'Join a Club Week' (21-28th of October) where anyone could come along at a certain time to give an activity a try without the pressure of commitment.</p>
<p>Thank you so much to everyone who took part. See you next year!</p>
<p></p>

<p>
    **TERMS AND CONDITIONS*
</p>
<p>
    Unfortunately due to the volume of clubs received, not all applicants can be read or spoken to on air.
</p>
<p>
    Please be advised that the Ray D’Arcy radio show and RTÉ are not responsible for any external events and/or club meetings. 
</p>
<p class="pad_bottom"></p>

<img src="assets/images/ray.png" class="ray">